{% extends 'base.html' %}

{% block title %}Vida e Caffe{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <!-- Left container -->
        <div class="col-md-6">
            <h2>Welcome to Vida e Caffe</h2>
            <p class="lead">Indulge in the delightful aroma of freshly brewed coffee and savory pastries at Vidae Cafe. Our cozy atmosphere and friendly staff await you.</p>
            <p>Experience a wide range of specialty coffees, teas, and artisanal pastries, all made with the finest ingredients.</p>
            <p>Whether you're looking for a quick pick-me-up or a leisurely coffee break, Vidae Cafe is the perfect destination.</p>
            <p class="mb-0">Join us today and elevate your coffee experience!</p>
        </div>

        <div class="col-md-6">
            <!-- Right container -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sign In to our Network to connect to the internet</h5>
                    <form method="post" id="signin-form" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter your email" required>
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter your password" required>
                            <div class="invalid-feedback">
                                Please provide a password.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Connect</button>
                    </form>
                    <p class="mt-3 mb-0">Don't have an account? <a href="{% url 'sign_up_mk' %}" class="btn btn-link">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Client-side form validation using Bootstrap classes
    (function() {
        'use strict';

        // Fetch the form
        var form = document.getElementById('signin-form');

        // Prevent submission
        form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');
        }, false);
    })();
</script>
{% endblock %}
